.cards-container {
  width: auto;
  margin: 0px;
  display: block;
  position: relative;
  top: -80px;
  height: auto;
  margin: 0 auto;
}
.profile {
  height: 100px;
  width: auto;
  border-radius: 100%;
  border: 5px solid #e5b622;
}
.card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  text-align: center;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #282c35;
  border-radius: 15px;
  margin: 50px;
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-back {
  background-color: #282c35;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}
.languages svg {
  margin-left: 3px;
  margin-right: 3px;
}
.card h2 {
  margin: 20px;
}
.card h3 {
  color: rgb(233, 233, 233);
  opacity: 90%;
  font-size: 11pt;
}
.card .ptext {
  max-width: 350px;
  font-weight: 300;
  line-height: 25px;
  padding: 20px;
}
.cardimg {
  height: 40px;
  width: auto;
  margin: 20px;
}
.desc {
  color: #e5b622;
  font-weight: 800;
}

.whoami .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.about-text {
  padding-top: 50px;
  font-weight: 500;
  text-align: center;
  font-size: 30pt;
}

.about-border {
  height: 4px;
  width: 70px;
  background-color: white;
}

.myphoto {
  position: relative;
  height: 200px;
  width: auto;
  border-radius: 100%;
  transition: 0.25s;
}

.personalinfos {
  padding: 30px;
  text-align: start;
  line-height: 30px;
}
.personalinfos h2 {
  font-weight: 500;
}
.description {
  line-height: 30px;
  font-family: "eurostile", sans-serif;
  font-weight: 300;
  color: #a8a8b3;
  margin: 0 auto 2.5rem;
}
.infos {
  display: flex;
  flex-direction: column;
  margin: 26px;
  max-width: 600px;
}
.infos h1 {
  font-size: 30pt;
  margin-bottom: 20px;
  line-height: 50px;
}
.infos .about-border {
  margin-bottom: 20px;
}
.whoami .text-container {
  padding-top: 40px;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.divide {
  color: #c4c4c438;
  width: 100%;
}
.main hr {
  max-width: 500px;
  margin: 40px;
  margin: 0 auto;
  color: #c4c4c438;
}
.main-holder {
  text-align: center;
}
.skill-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}
.aboutme-section {
  margin: 80px;
  width: 100%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  margin: 10px;
  height: auto;
}
.skill-card h3 {
  font-weight: 500;
}
.skill-card p {
  font-weight: 100;
}
.main-holder h2 {
  font-weight: 800;
}
.skill-card .skill-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: solid 3px #e5b622;
  margin: 10px;
}
.skillimg {
  height: 30px;
  width: auto;
}

@keyframes from-left {
  from {
    opacity: 0;
    left: -500px;
  }
  to {
    opacity: 100;
    left: 0px;
  }
}

@media (max-width: 738px) {
  .card-holder {
    flex-direction: column;
  }
  .personalinfos {
    flex-direction: column;
  }
  .whoami .text-container {
    font-size: 12pt;
    text-align: center;
  }
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infos h1 {
    font-size: 30pt;
  }
  .skill-card {
    font-size: 9pt;
  }
  .skill-container {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .card {
    min-width: 250px;
  }
}
