.works {
  background-color: #282c35;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.works .about-border {
  width: 150px;
  background-color: white;
}
.recent-works {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}
.work-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  opacity: 100;
  width: 350px;
  height: 300px;
  max-width: 100%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #121214;
}
.work-card h1 {
  display: block;
  font-size: 60pt;
}
.react {
  position: relative;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 300px;
  max-width: 100%;
  margin: 10px;
  -webkit-transition: background 5s ease-out;
  transition: background 5s ease-out;
  transition: 3s;
}
#workcard {
  display: none;
}

.techs {
  color: #e5b622;
}
.work-title {
  font-weight: 500;
}
.learn-btn {
  width: 140px;
  padding: 10px;
  text-decoration: none;
  border: solid 3px #e5b622;
  color: #e5b622;
  font-weight: 500;
  font-size: 12pt;
  outline: none;
  background-color: transparent;
  margin-top: 40px;
  transition: 0.25s;
}
.learn-btn:hover {
  background-color: #e5b622;
  color: black;
}
.react:hover .work-card {
  opacity: 0;
}
.work-content {
  padding-top: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.react:hover .work-content {
  display: block;
  opacity: 100;
}

@media (max-width: 532px) {
  .work-card {
    width: 250px;
    height: 200px;
  }
  .recent-works {
    flex-direction: column;
    width: 100%;
  }
  h1 {
    font-size: 12pt;
  }
}
